<!DOCTYPE html>
<html>
<head>
  <title>Tingui</title>
  <%= stylesheet_link_tag    "tingui/application", media: "all" %>
  <%= javascript_include_tag "tingui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <%= render 'layouts/tingui/nav' %>
    <section class="content">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
      <%= yield %>
    </section>
    <%= render 'layouts/tingui/footer' %>
  </div>
</body>
</html>
