<%= form_for(@post, html: { component: 'post_form', metadata: js_metadata }) do |f| %>
  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.text_field :title, placeholder: Tingui::Post.human_attribute_name(:title) %>
  <%= f.text_field :slug, placeholder: Tingui::Post.human_attribute_name(:slug) %>
  <%= f.text_area :content, placeholder: Tingui::Post.human_attribute_name(:content) %>
  <%= f.submit t('buttons.save') %>
<% end %>
