<!DOCTYPE html>
<html>
<head>
  <title>Tingui</title>
  <%= stylesheet_link_tag    "tingui/application", media: "all" %>
  <%= javascript_include_tag "tingui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to t('posts.new'), new_post_path %></li>
    <li><%= link_to t('pages.new'), new_page_path %></li>
  </ul>
</nav>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<%= yield %>

</body>
</html>
