<!DOCTYPE html>
<html>
<head>
  <title>Tingui</title>
  <%= stylesheet_link_tag    "tingui/application", media: "all" %>
  <%= javascript_include_tag "tingui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/tingui/nav' %>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <%= yield %>
  <%= render 'layouts/tingui/footer' %>
</body>
</html>
